body {
  background: #385170; 
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

.App h1 {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.App-header {
  margin: 30px 0;
  text-align: center;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
  color: white;
}